<mat-card class="card">
    <form class="example-form" #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)">
  
      <h2>Log In To Your Account</h2>
      <mat-divider></mat-divider>
  
      <br>
      <br>
  
      <mat-form-field class="example-full-width">
        <input matInput type="email" placeholder="Email" required
        ngModel name="email">
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password" required
        ngModel name="password">
      </mat-form-field>
  
      <button [disabled]="!signInForm.valid"
         class="btn" mat-button type="submit"
         *ngIf="!loginProgress">Login</button>
  
      <br>
      <br>
      <mat-progress-bar *ngIf="loginProgress" mode="indeterminate"></mat-progress-bar>
  
    </form>
  </mat-card>