.example-form {
    min-width: 200px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .btn {
    min-width: 450px;
    max-width: 450px;
    width: 100%;
    background-color: rgb(13, 145, 35);
    color: rgb(252, 252, 252);
  }

  h2 {
      text-align: center;
  }

  .mat-card {
    width: 500px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }