<mat-card class="card">
    <form class="example-form" #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)">
  
      <h2>LOGGING IN</h2>
      <mat-divider></mat-divider>
      <br>
      <br>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Enter Username</mat-label>
        <input matInput type="email" placeholder="Username" required
        ngModel name="email">
      </mat-form-field>
  

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Enter Password</mat-label>
        <input matInput type="password" placeholder="Password" required
        ngModel name="password">
      </mat-form-field>

      <button [disabled]="!signInForm.valid"
         class="btn" mat-button type="submit"
         *ngIf="!loginProgress">Login</button>
      
      <br>
      <br>

      <div class="button-row">
        <button mat-button color="warn" routerLink="/signup">Not Registered? Click here!</button>
      </div>

      <mat-progress-bar *ngIf="loginProgress" mode="indeterminate"></mat-progress-bar>
      <!-- Progress bar needs to be chnaged-->
  
    </form>
  </mat-card>
