.example-form {
    min-width: 200px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .btn {
    min-width: 450px;
    max-width: 450px;
    width: 100%;
    background-color: rgb(207, 60, 34);
    color: #fff;
  }

  h2 {
      text-align: center;
  }

  .mat-card {
    width: 500px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }