<mat-card>
    <form class="example-form" #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)">
  
      <h2>Register New Account</h2>
      <mat-divider></mat-divider>
  
      <br>
      <br>
  
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="First name" 
        [(ngModel)]="profile.FirstName" name="FirstName">
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Last name"
        [(ngModel)]="profile.LastName" name="LastName">
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <input matInput type="email" placeholder="Email"
        [(ngModel)]="profile.Email" name="Email">
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password"
        [(ngModel)]="profile.Password" name="Password">
      </mat-form-field>
  
      <button class="btn" mat-button type="submit">Submit</button>
    </form>
  </mat-card>