.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .btn {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    background-color: #DA0F47;
    color: #fff;
  }

  h2 {
      text-align: center;
  }

  .mat-card {
      width: 500px;
      margin-top: 5%;
      margin-left: auto;
      margin-right: auto;
  }