<div fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="50">

    <mat-card-header>
      <mat-card-title>Signup</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="signup()" 
            [formGroup]="signupForm" 
            novalidate 
            fxLayout="column">

        <mat-form-field fxFlex>
          <input matInput 
                placeholder="E-mail" 
                formControlName="email">
          <!--Error checking-->
          <mat-error *ngIf="formError('email', 'required')"> <!--ts file-->
            Email <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="formError('email', 'email', ['required'])"> <!--Not working-->
            Please enter a valid <strong>email</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex>
          <input matInput 
                 placeholder="Password"
                 type="password" 
                 formControlName="password">
          <!--Error checking-->
          <mat-error *ngIf="formError('password', 'required')"> <!--ts file-->
            Password <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="formError('password', 'minLength')"> <!--ts file-->
            Password need to at least <strong>8 characters</strong> long
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex>
          <input matInput 
                 placeholder="Repeat Password"
                 type="password" 
                 formControlName="repeatPassword">
          <!--Error checking-->
          <mat-error *ngIf="formError('repeatPassword', 'required')"> <!--ts file-->
            Password <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="formError('repeatPassword', 'no-match', ['required'])"> <!--ts file-->
            Password does not <strong>match</strong>
          </mat-error>
        </mat-form-field>

        <button mat-button
                color="primary"
                type="submit"
                [disabled]="signupForm.invalid">
          Sign Up
        </button>
      </form>
    </mat-card-content>

  </mat-card>
</div>
