<mat-sidenav-container fxFlexFill (backdropClick)="toggleNav()">
    <mat-sidenav [mode]="mode" 
            [opened]="navBarOpen">
        <mat-nav-list>
            <!-- Tabs -->
            <a mat-list-item routerLink="/">
                <app-margin-icon [iconName]="'home'"></app-margin-icon>
                Home 
            </a>
            <a mat-list-item routerLink="/signin"> 
                <app-margin-icon [iconName]="'account_box'"></app-margin-icon>
                Sign In 
            </a>
            <a mat-list-item routerLink="/albums">
                <app-margin-icon [iconName]="'folder'"></app-margin-icon>
                Albums 
            </a>
            <a mat-list-item routerLink="/users">
                <app-margin-icon [iconName]="'supervised_user_circle'"></app-margin-icon>
                Users 
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <!-- footer -->
    <mat-sidenav-content fxLayout="column">
        <app-toolbar (navToggle)="toggleNav()"></app-toolbar> 
        <div fxFlex>
            <router-outlet></router-outlet>
        </div>
        <footer fxFlexAlign="center">
            <hr fxFlexFill>
            <p>Copyright ©  2018 Reverside Software Solutions</p>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>
