<div fxLayout="row" fxLayoutAlign="center" *ngIf="user"> <!--It detrmines to show when the user is there-->
    <mat-card fxFlex="80">
      <mat-card-header>
        <img mat-card-avatar src="https://firebasestorage.googleapis.com/v0/b/photosharingapp-348ad.appspot.com/o/IMG_20180726_201435.jpg?alt=media&token=a4e53c90-cc88-43d5-80c2-1980f5be1cb6" alt="Me">
        <mat-card-title>{{user.username}}</mat-card-title>
        <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="save()" [formGroup]="profileForm" novalidate fxLayout="column">
          <mat-form-field fxFlex>
            <input matInput placeholder="Username" formControlName="username">
            <!--Error Checking-->
            <mat-error *ngIf="formError('username', 'required')">
              Username is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="formError('username', 'minLength', ['required'])">
              Username needs to be at least <strong>5 characters</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="First Name" formControlName="firstName">
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="Middle Name" formControlName="middleName">
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="Last Name" formControlName="lastName">
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="stretch">
            <button mat-mini-fab
                    color="warn">
              <mat-icon>lock</mat-icon>
            </button>
            <p fxFlex
               fxFlexOffset="20px">Change Password</p>
            <button mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="profileForm.invalid">
                Save
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>