/*
.example-form {
    min-width: 200px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .btn {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    background-color: rgb(97, 175, 45);
    color: rgb(19, 17, 17);
  }

  h2 {
      text-align: center;
  }

  .mat-card {
    width: 500px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }
  */
