.mat-toolbar {
    background-color: #303030;
    height: 48px;
}

.nav ul li {
    display: inline-block;
    padding: 35px;
}

.nav ul li a {
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
}